.DS_Store
.huskyrc.json
out
node_modules
*.pyc
*.vsix
*.code-workspace
**/testFiles/**/.cache/**
*.noseids
.nyc_output
.vscode-test
__pycache__
npm-debug.log
**/.mypy_cache/**
!yarn.lock
coverage/
.vscode/
.vscode-test/**
**/.venv*/
precommit.hook
pythonFiles/experimental/ptvsd/**
pythonFiles/lib/**
debug_coverage*/**
languageServer/**
languageServer.*/**
bin/**
obj/**
Investigations/
.pytest_cache
tmp/**
.python-version
.vs/
~$*
DeploymentFolderForBatch.lnk
pending_commit_message.txt
config.yml
MovieCompressorDev.bat
transforms.trf